/*
File: ./src/loader.css
Purpose: CSS classes for a regular sized and small loader.
Source: https://www.w3schools.com/howto/howto_css_loader.asp 

Date        Dev  Version  Description
2023/12/12  ITA  1.00     Genesis.
2024/05/26  ITA  1.01     Add comment header.
                          Increase the size of the small loader to 8px.
*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #c4d0c0;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  .loader-small {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #c4d0c0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }